@model IEnumerable<CaffeineFix.Models.ProductViewModel>

@{
                /**/

                ViewBag.Title = "Products";
                @Styles.Render("~/Content/DataTables")
                @Scripts.Render("~/bundles/DataTables")
}

<!--Add Product Success Alert-->
<div class="alert alert-success alert-dismissible fade show" role="alert" id="addAlert" style="display:none">
    You have successfully added a product!
    <button type="button" class="close" onclick="hideAddAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!--Delete Product Success Alert-->
<div class="alert alert-success alert-dismissible fade show" role="alert" id="deleteAlert" style="display:none">
    Product was deleted successfully!
    <button type="button" class="close" onclick="hideDeleteAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!--Update Product Success Alert-->
<div class="alert alert-success alert-dismissible fade show" role="alert" id="updateAlert" style="display:none">
    Product was updated successfully!
    <button type="button" class="close" onclick="hideUpdateAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<a href="#" class="btn btn-success btn-sm mb-3" onclick="LoadAddProductForm()"><i class="fa fa-plus"></i> Add Product</a>

<table class="display" id="myDataTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Created</th>
            <th>Last Modified</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<input type="hidden" id="hiddenProductID" />

<!-- Modal for View -->
<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!--Modal Header-->
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">View Product</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> <!--End of Modal Header-->
            <!--Modal Body-->
            <div class="modal-body" id="viewModalBodyDiv">

            </div> <!--End of Modal Body-->
        </div>
    </div>
</div> <!--End of Modal-->
<!-- Modal for Add Product Form -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!--Modal Header-->
            <div class="modal-header">
                <h2 class="modal-title" id="modalLabel">Add Product</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> <!--End of Modal Header-->
            <!--Modal Body-->
            <div class="modal-body" id="addModalBodyDiv">

            </div> <!--End of Modal Body-->
        </div>
    </div>
</div> <!--End of Modal-->
<!-- Modal for Edit Product Form -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!--Modal Header-->
            <div class="modal-header">
                <h2 class="modal-title" id="modalLabel">Edit Product</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> <!--End of Modal Header-->
            <!--Modal Body-->
            <div class="modal-body" id="editModalBodyDiv">

            </div> <!--End of Modal Body-->
        </div>
    </div>
</div> <!--End of Modal-->
<!-- Modal for Delete Product -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!--Modal Header-->
            <div class="modal-header">
                <h2 class="modal-title" id="modalLabel">Delete this product?</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> <!--End of Modal Header-->
            <!--Modal Body-->
            <div class="modal-body" id="deleteModalBodyDiv">

            </div> <!--End of Modal Body-->
            <div class="modal-footer">
                <a href="#" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-primary btn-sm" onclick="DeleteProduct()">Confirm</a>
            </div>
        </div>
    </div>
</div> <!--End of Modal-->

<script>
    $(document).ready(function () {

        $('[data-toggle="tooltip"]').tooltip();

        BindDataTable();

        table.on('draw', function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

    });

    function parseJsonDate(jsonDate) {
        var offset = new Date().getTimezoneOffset() * 60000;
        var parts = /\/Date\((-?\d+)([+-]\d{2})?(\d{2})?.*/.exec(jsonDate);
        if (parts[2] == undefined) parts[2] = 0;
        if (parts[3] == undefined) parts[3] = 0;
        d = new Date(+parts[1] + offset + parts[2] * 3600000 + parts[3] * 60000);
        date = d.getDate() + 1;
        date = date < 10 ? "0" + date : date;
        mon = d.getMonth() + 1;
        mon = mon < 10 ? "0" + mon : mon;
        year = d.getFullYear();
        return (mon + "/" + date + "/" + year);
    };

    let BindDataTable = function () {
        $("#myDataTable").DataTable({
            "columnDefs": [
                {
                    "targets": [6],
                    "orderable": false
                }
            ],
            "serverSide": true,
            "ajax": {
                url: "/Products/GetAllProducts",
                type: "POST",
                dataType: "JSON"
            },
            "columns": [
                { "data": "ProductID" },
                { "data": "ProductName" },
                { "data": "ProductCategoryName" },
                {
                    "data": "Price",
                    "render": function (Price) {
                        let price = Price.toFixed(2);
                        return '&#8369; ' + price + '';
                    }
                },
                {
                    "data": "DateCreated",
                    "render": function (DateCreated) {
                        let jsonDate = parseJsonDate(DateCreated);
                        return '' + jsonDate + '';
                    }
                },
                {
                    "data": "DateLastModified",
                    "render": function (DateLastModified) {
                        if (DateLastModified != null) {
                            let jsonDate = parseJsonDate(DateLastModified);
                            return '' + jsonDate + '';
                        } else {
                            return 'N/A';
                        }
                    }
                },
                {
                    "data": "ProductID",
                    "render": function (ProductID) {
                        return '<a href="#" class="btn btn-info btn-sm" data-toggle="tooltip" title="View Product" onclick="ViewProduct(' + ProductID + ')"><i class="fa fa-search"></i></a> <a href="#" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Edit Product" onclick="LoadEditProductForm(' + ProductID + ')"><i class="fa fa-pencil"></i></a> <a href="#" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Delete Product" onclick="LoadDeleteModal(' + ProductID + ')"><i class="fa fa-trash"></i></a>'
                    }
                }
            ],
            "createdRow": function (row, full) {
                $(row).attr('id', 'row_' + full['ProductID']);
            },
            "drawCallback": function (settings) {
                $('[data-toggle="tooltip"]').tooltip();
            }
        });
    }

    let ViewProduct = function (ProductID) {
        let url = "/Products/ViewProduct?productID=" + ProductID;

        $("#viewModalBodyDiv").load(url, function () {
            $("#viewModal").modal("show");
        })
    }

    let LoadAddProductForm = function () {
        let url = "/Products/LoadAddProductForm";

        $("#addModalBodyDiv").load(url, function () {
            $("#addModal").modal("show");
        })
    }

    let LoadEditProductForm = function (productID) {
        let url = "/Products/LoadEditProductForm?productID=" + productID;

        $("#editModalBodyDiv").load(url, function () {
            $("#editModal").modal("show");
        })
    }

    let LoadDeleteModal = function (productID) {
        $("#hiddenProductID").val(productID);
        let url = "/Products/ViewProduct?productID=" + productID;

        $("#deleteModalBodyDiv").load(url, function () {
            $("#deleteModal").modal("show");
        })
    }

    let DeleteProduct = function () {
        let productID = $("#hiddenProductID").val();

        $.ajax({
            type: "POST",
            url: "/Products/DeleteProduct?productID=" + productID,
            data: { ProductID: productID },
            success: function (result) {
                $("#deleteModal").modal("hide");
                $("#row_" + productID).remove();
                $("#deleteAlert").show();
                $("#deleteAlert").delay(2000).fadeOut();
            }
        })
    }

    let hideAddAlert = function () {
        $("#addAlert").fadeOut();
    }

    let hideDeleteAlert = function () {
        $("#deleteAlert").fadeOut();
    }

    let hideUpdateAlert = function () {
        $("#updateAlert").fadeOut();
    }
</script>

